{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 version","Android >= 4", "safari >= 7"],
          "uglify": true
        },
        "debug": true,
        "modules": false,
        "useBuiltIns": "entry"
      }
    ],
    "stage-3"
  ],
  "comments": true
}